table{
	width: 100%;
}
#t1_title td{
	border: 1px solid black;
	text-align: center;
	font-weight: bold;
	height: 26px;
}
#t1_content td{
	border: 1px dotted black;
	height: 26px;
}
.row1 {
	background-color: #7FFFD4;
}

.row2 {
	background-color: white;
}

#div_search{
	width: 80%;
	height: 100px;
	margin: 20px auto;
	border: 1px solid black;
}

#div_content{
	width: 80%;
	height: 450px;
	margin: 0px auto;
	border: 1px solid red;
}
#div_content_value{
	height: 320px;
}
#div_paging{
	height: 320px;
	text-align: right;
}